@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
/* @import "tailwindcss/components"; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}


.montserrat-one {
  font-family: "Montserrat" serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.funnel-display-one {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

